<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/HeaderFooter.css">
        <link rel="stylesheet" href="../static/ElementsGrid.css">
        <link rel="stylesheet" href="../static/SearchByIngredients.css">
        <meta charset="utf-8">
        <title>Search By Ingredients</title>
    </head>
    <header>
        <div id="dh1"  style='float: left; clear: left;'>
            <a href="Home.html" style="float:left;  margin-right:50px;"><img src="../static/Logo.png"></a>
            <a class="h" href="Home.html">Home</a>
            <a class="h" href="GeneralSearch.html">General search</a>
            <a class="h" href="SearchByIngredients.html">Search by ingredients</a>
            <a class="h" href="SearchHistory.html">Search history</a>
            <a class="h" href="Favorites.html">Favorites</a>
        </div>
        <div id="dh2"  style='float: right; clear: right;'>
            <button class="flat">Log in</button>
            <button class="flat">Sign up</button>
            <button class="flat"> Log out</button>
        </div>
    </header>

    <div id="content">
        <form>
            <input type="text" name=text" class="search" placeholder="Search here!">
            <input type="submit" name="submit" class="submit" value="Search">
        </form>
        <div class="all-browsers2">
            <h1>Choosed Ingridients
                <div id="dh2"  style='float: right; clear: right;'>
                <button class="butt">Search Recipes</button></div>
            </h1>
            <article class="browser2">
                <div  style='float: right; clear: right;'>
                    <input type="image" src="../static/Red.png" />
                </div>
                <p>Microsoft Edge</p>
            </article>
            <article class="browser2">
                <div  style='float: right; clear: right;'>
                    <input type="image" src="../static/Red.png" />
                </div>
                <p>Microsoft Edge</p>
            </article>
            <article class="browser2">
                <div  style='float: right; clear: right;'>
                    <input type="image" src="../static/Red.png" />
                </div>
                <p>Microsoft Edge</p>

            </article>
        </div>
        <div class="all-browsers">
            <h1>Search result</h1>
            <article class="browser3">
                <img class="imgg" src="../static/Logo.png">
                <div style='float: right; clear: right;'>
                    <input type="image" src="../static/Green.jpg" />
                </div>
                <p>Microsoft Edge</p>
            </article>
            <article class="browser3">
                <img class="imgg" src="../static/Logo.png">
                <div style='float: right; clear: right;'>
                    <input type="image" src="../static/Green.jpg" />
                </div>
                <p>Microsoft Edge</p>
            </article>
            <article class="browser3">
                <img class="imgg" src="../static/Logo.png">
                <div style='float: right; clear: right;'>
                    <input type="image" src="../static/Green.jpg" />
                </div>
                <p>Microsoft Edge</p>
            </article>
        </div>

    </div>
    <footer id="footer">Copyright © 2022 <a href="https://github.com/Michael2718/CookBook" style="color: rgb(23,21,21);"><strong>Misha and Co</strong></a></footer>
</html>