#content {
    background-color: #fffffe;
    flex: 1;
    padding: 20px;
}

/*.search-container {*/
/*    margin: 8px;*/
/*    text-align: center;*/
/*    padding: 6px;*/
/*    font-size: 18px;*/
/*    color: #282A35;*/
/*}*/

.filters {
    float: left;
    width: 12%;
    background: lightgray;
}

/*.search-results {*/
/*    float: left;*/
/*    width: 88%;*/
/*    !*background: #ff0000;*!*/
/*}*/

/*.recipe {*/
/*    float: left;*/
/*    flex: 1;*/
/*    flex-direction: column;*/
/*    padding: 8px;*/
/*}*/
/*.all-browsers {*/
/*    float: left;*/
/*}*/

.left {
    /*position: absolute;*/
    /*left: 20px;*/

    /*top: 120px;*/
    padding: 2px;
    width: 12%;
    background: lightgray;
}
.right {
    /*position: absolute;*/
    /*right: -20px;*/
    /*top: 120px;*/
    padding: 2px;
    width: 88%;
    background: lightgray;
}

