<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/HeaderFooter.css">
        <link rel="stylesheet" href="../static/ElementsGrid.css">
        <meta charset="utf-8">
        <title>Favorites</title>
    </head>
    <header>
        <div id="dh1"  style='float: left; clear: left;'>
            <a href="index.html" style="float:left;  margin-right:50px;"><img src="../static/Logo.png"></a>
            <a class="h" href="index.html">Home</a>
            <a class="h" href="GeneralSearch.html">General search</a>
            <a class="h" href="SearchByIngredients.html">Search by ingredients</a>
            <a class="h" href="SearchHistory.html">Search history</a>
            <a class="h" href="Favorites.html">Favorites</a>
        </div>
        <form id="dh2"  style='float: right; clear: right;'>
            <input name="guruweba_example_text" type="text" class="username" placeholder="username"/>
            <input name="guruweba_example_password" type="password" class="username" placeholder="password"/>
            <button class="flat">Log in</button>
            <button class="flat">Sign up</button>
            <button hidden class="flat"> Log out</button>
        </form>
    </header>
    <div id="content">
        <div class="all-browsers">
            <div id="dh2"  style='float: right; clear: right;'>
                <button class="butt">Clear Favourites</button>
            </div>
            <h1>Favourites</h1>
            <article class="browser">
                <img class="imgg" src="../static/Logo.png">
                <a href="#" class="au">Microsoft Edge</a>
                <div class="truncate">
                    <p>Google Chrome is a web browser developed by Google, released in 2008. Chrome is the world's most popular web browser today!</p>
                </div>
            </article>
            <article class="browser">
                <img class="imgg" src="../static/Logo.png">
                <a href="#" class="au">Microsoft Edge</a>
                <div class="truncate">
                    <p>Mozilla Firefox is an open-source web browser developed by Mozilla. Firefox has been the second most popular web browser since January, 2018.</p>
                </div>
            </article>
            <article class="browser">
                <img class="imgg" src="../static/Logo.png">
                <a href="#" class="au">Microsoft Edge</a>
                <div class="truncate">
                    <p>Microsoft Edge is a web browser developed by Microsoft, released in 2015. Microsoft Edge replaced Internet Explorer.</p>
                </div>
            </article>
        </div>
    </div>
    <footer id="footer">Copyright © 2022 <a href="https://github.com/Michael2718/CookBook" style="color: rgb(23,21,21);"><strong>Misha and Co</strong></a></footer>
</html>