{% extends "Base.html" %}

{% block title %}General Search{% endblock %}
{% block stylesheet %}<link rel="stylesheet" href="../static/css/ElementsGrid.css">{% endblock %}
{% block div %}
<div id="content">
    <div class="all-browsers">
        <div id="dh2"  style='float: right; clear: right;'>
            <button class="butt">Clear Favourites</button>
        </div>
        <h1>Favourites</h1>
        <article class="browser">
            <img class="imgg" src="../static/images/Logo.png">
            <a href="#" class="au">Microsoft Edge</a>
            <div id="dh2"  style='float: right; clear: right;'>
                <input type="image" src="../static/images/Star.jpg" />
            </div>
            <div class="truncate">
                <p>Google Chrome is a web browser developed by Google, released in 2008. Chrome is the world's most popular web browser today!</p>
            </div>
        </article>
        <article class="browser">
            <img class="imgg" src="../static/images/Logo.png">
            <a href="#" class="au">Microsoft Edge</a>
            <div id="dh2"  style='float: right; clear: right;'>
                <input type="image" src="../static/images/Star.jpg" />
            </div>
            <div class="truncate">
                <p>Mozilla Firefox is an open-source web browser developed by Mozilla. Firefox has been the second most popular web browser since January, 2018.</p>
            </div>
        </article>
        <article class="browser">
            <img class="imgg" src="../static/images/Logo.png">
            <a href="#" class="au">Microsoft Edge</a>
            <div id="dh2"  style='float: right; clear: right;'>
                <input type="image" src="../static/images/Star.jpg" />
            </div>
            <div class="truncate">
                <p>Microsoft Edge is a web browser developed by Microsoft, released in 2015. Microsoft Edge replaced Internet Explorer.</p>
            </div>
        </article>
    </div>
</div>
{% endblock %}
