<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/css/HeaderFooter.css">
        <link rel="stylesheet" href="../static/css/ElementsGrid.css">
        <link rel="stylesheet" href="../static/css/GeneralSearch.css">
        <meta charset="utf-8">
        <title>General Search</title>
    </head>
    <header>

        <div id="dh1"  style='float: left; clear: left;'>
            <a href="index.html" style="float:left;  margin-right:50px;"><img src="../static/images/Logo.png"></a>
            <a class="h" href="index.html">Home</a>
            <a class="h" href="GeneralSearch.html">General search</a>
            <a class="h" href="SearchByIngredients.html">Search by ingredients</a>
            <a class="h" href="SearchHistory.html">Search history</a>
            <a class="h" href="Favorites.html">Favorites</a>
        </div>
        <form id="dh2"  style='float: right; clear: right;'>
            <input name="guruweba_example_text" type="text" class="username" placeholder="username"/>
            <input name="guruweba_example_password" type="password" class="username" placeholder="password"/>
            <button class="flat">Log in</button>
            <button class="flat">Sign up</button>
            <button hidden class="flat"> Log out</button>
        </form>
    </header>

    <div id="content">
        <form>
            <input type="text" name=text" class="search" placeholder="Search here!">
            <input type="submit" name="submit" class="submit" value="Search">
        </form>
        <div class="left">
                <ul>
                    <h1>Filters</h1>
                    <h2>Diet:</h2>
                    <li><input name="guruweba_example_checkbox" type="checkbox" />Gluten Free</li>
                    <li><input name="guruweba_example_checkbox" type="checkbox" />Vegetarian</li>
                    <li><input name="guruweba_example_checkbox" type="checkbox" />Vegan</li>
                    <h2>Intolerances:</h2>
                    <li><input name="guruweba_example_checkbox" type="checkbox" />Dairy</li>
                    <li><input name="guruweba_example_checkbox" type="checkbox" />Egg</li>
                    <li><input name="guruweba_example_checkbox" type="checkbox" />Gluten</li>
                    <li><input name="guruweba_example_checkbox" type="checkbox" />Grain</li>
                    <li><input name="guruweba_example_checkbox" type="checkbox" />Peanut</li>
                    <li><input name="guruweba_example_checkbox" type="checkbox" />Seafood</li>
                    <li><input name="guruweba_example_checkbox" type="checkbox" />Sesame</li>
                    <li><input name="guruweba_example_checkbox" type="checkbox" />Shellfish</li>
                    <li><input name="guruweba_example_checkbox" type="checkbox" />Soy</li>
                    <li><input name="guruweba_example_checkbox" type="checkbox" />Sulfite</li>
                    <li><input name="guruweba_example_checkbox" type="checkbox" />Tree Nut</li>
                    <li><input name="guruweba_example_checkbox" type="checkbox" />Wheat</li>
                </ul>
        </div>
        <div class="right">
            <div class="all-browsers">
                <h1>Search result</h1>
                <article class="browser">
                    <img class="imgg" src="../static/images/Logo.png">
                    <a href="RecipePage.html" class="au">Microsoft Edge</a>
                    <div id="dh2"  style='float: right; clear: right;'>
                        <input type="image" src="../static/images/EmptyStar.png" />
                    </div>
                    <div class="truncate">
                        <p>Mozilla Firefox is an open-source web browser developed by Mozilla. Firefox has been the second most popular web browser since January, 2018.</p>
                    </div>
                </article>
                <article class="browser">
                    <img class="imgg" src="../static/images/Logo.png">
                    <a href="RecipePage.html" class="au">Microsoft Edge</a>
                    <div id="dh2"  style='float: right; clear: right;'>
                        <input type="image" src="../static/images/EmptyStar.png" />
                    </div>
                    <div class="truncate">
                        <p>Mozilla Firefox is an open-source web browser developed by Mozilla. Firefox has been the second most popular web browser since January, 2018.</p>
                    </div>
                </article>
                <article class="browser">
                    <img class="imgg" src="../static/images/Logo.png">
                    <a href="RecipePage.html" class="au">Microsoft Edge</a>
                    <div id="dh2"  style='float: right; clear: right;'>
                        <input type="image" src="../static/images/EmptyStar.png" />
                    </div>
                    <div class="truncate">
                        <p>Mozilla Firefox is an open-source web browser developed by Mozilla. Firefox has been the second most popular web browser since January, 2018.</p>
                    </div>
                </article>
                <article class="browser">
                    <img class="imgg" src="../static/images/Logo.png">
                    <a href="RecipePage.html" class="au">Microsoft Edge</a>
                    <div id="dh2"  style='float: right; clear: right;'>
                        <input type="image" src="../static/images/EmptyStar.png" />
                    </div>
                    <div class="truncate">
                        <p>Mozilla Firefox is an open-source web browser developed by Mozilla. Firefox has been the second most popular web browser since January, 2018.</p>
                    </div>
                </article>
                <article class="browser">
                    <img class="imgg" src="../static/images/Logo.png">
                    <a href="RecipePage.html" class="au">Microsoft Edge</a>
                    <div id="dh2"  style='float: right; clear: right;'>
                        <input type="image" src="../static/images/EmptyStar.png" />
                    </div>
                    <div class="truncate">
                        <p>Microsoft Edge is a web browser developed by Microsoft, released in 2015. Microsoft Edge replaced Internet Explorer.</p>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <footer id="footer">Copyright © 2022 <a href="https://github.com/Michael2718/CookBook" style="color: rgb(23,21,21);"><strong>Misha and Co</strong></a></footer>
</html>