{% extends "Base.html" %}
{% block stylesheet %}
    <link rel="stylesheet" href="../static/css/GeneralSearch.css">
    <link rel="stylesheet" href="../static/css/ElementsGrid.css">
{% endblock %}
{% block title %}General Search{% endblock %}

{% block div %}
<div class="content">
{#    <div class="search-container">#}
{#        <form id="form1" method="post">#}
{##}
{#        </form>#}
{#    </div>#}
    <div class="filters">
        <h1>Search</h1>
        <form id="form1" method="post">
            <input type="text" name="query" class="search" placeholder="Search here!" id="query">
            <h2>Filters</h2>
            <b>Diet:</b>
            Gluten Free<input type="checkbox" name="diet" value="Gluten Free"/>
            Vegetarian<input type="checkbox" name="diet" value="Vegetarian"/>
            Vegan<input type="checkbox" name="diet" value="Vegan"/>
            <b>Intolerances:</b>
            Dairy<input type="checkbox" name="intolerance" value="Dairy"/>
            Gluten<input type="checkbox" name="intolerance" value="Gluten"/>
            Peanut<input type="checkbox" name="intolerance" value="Peanut"/>
            Sesame<input type="checkbox" name="intolerance" value="Sesame"/>
            Soy<input type="checkbox" name="intolerance" value="Soy"/>
            <input type="submit" name="submit" class="submit" value="Submit Search">
        </form>
    </div>

{#    <div class="search-results">#}
{#        <h1>Search results</h1>#}
{#        {% for recipe in recipes %}#}
{#            <article class="recipe">#}
{#                <img class="img" src="{{ recipe['image'] }}" alt="logo">#}
{#                <a href="RecipePage.html" class="au">{{ recipe['title'] }}</a>#}
{#                    <div id="dh2"  style='float: right; clear: right;'>#}
{#                        <input type="image" src="../static/images/EmptyStar.png"  alt="star"/>#}
{#                    </div>#}
{#                <div class="truncate">#}
{#                    {{ recipe['summary'][:recipe['summary'].index('.') + 1] }}#}
{#                </div>#}
{#            </article>#}
{#        {% endfor %}#}
{#    </div>#}

    <div class="right">
        <div class="all-browsers">
            <h1>Search result</h1>
            {% for recipe in recipes %}
            <article class="browser">
                <img class="imgg" src="{{ recipe['image'] }}">
                <a href="/{{ recipe['id'] }}" class="au">{{ recipe['title'] }}</a>
                <div id="dh2"  style='float: right; clear: right;'>
                    <input type="image" src="../static/images/EmptyStar.png" />
                </div>
                <div class="truncate">
                    <p>{{ recipe['summary'][:recipe['summary'].index('.')]|safe }}</p>
                </div>
            </article>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
