{% extends "Base.html" %}

{% block title %}Home{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="../static/css/Home.css">
{% endblock %}
{% block div %}
<div id="content">
    <div class="center">
       <p> Розробники даної інформаційної системи - група студентів: Ісаєв Михайло
        Андрійович, Окучинський Гавриїл Павлович, Лісовський Максим
        Миколайович, Соценко Максим Миколайович.</p>

        <p>Інформаційна система "Кулінарна книга рецептів" отримує рецепти
        за допомогою spoonacular API та відображає і зберігає(за потреби) їх під
        час роботи програми; має візуальний інтерфейс, з яким буде зручно
        взаємодіяти; має різні функції пошуку; показує загальний список рецептів
        обраної категорії та відображає повну інструкції щодо приготування.</p>
        <p>У проекті використовується система контролю версій “Git”. Розробка
        здійснюється у IDE (“PyCharm Professional Edition”). Бібліотеки, які
        потрібні для використання у ПЗ системи “Кулінарна книга рецептів”
        визначаються паралельно з процесом розробки.</p>
    </div>
</div>
{% endblock %}
