{% extends "Base.html" %}

{% block title %}Recipe Page{% endblock %}

{% block div %}
<div id="content2">
<div class="center2">
    <h1>{{ recipe['title'] }}</h1>
    <div class="h" style="display:inline-block;position: relative">
        <img itemprop="image" src="{{ recipe['image'] }}" alt="Recipe image &amp; Recipe image" title="Recipe image &amp; Recipe image">
    </div>
{#    <input type="image" src="../static/images/Download.png" width="54" height="54"/>#}
    <a href="{{ card }}">
        <img src="../static/images/Download.png" alt="download recipe card" style="width:54px;height:54px">
    </a>
    <h2>Description</h2>

    <p class="h" itemprop="description">
        {{ recipe['summary']|safe }}
    </p>
    <h2 id="anchorIngredients">Ingredients</h2>
    {% for ing in recipe['extendedIngredients'] %}
        <div class="ingredient" style="margin: 5px">
            <h3>{{ ing['original'] }}</h3>
            <img src="https://spoonacular.com/cdn/ingredients_100x100/{{ ing['image'] }}">
        </div>

    {% endfor %}
    <h2>Instruction</h2>
    {% for step in instruction[0]['steps'] %}
        <p style="font-size: 22px">{{ step['number'] }}. {{ step['step'] }}</p>
    {% endfor %}

    </div>
</div>
    </div>
{% endblock %}
