{% extends "Base.html" %}

{% block title %}Search By Ingredients{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="../static/css/SearchByIngredients.css">
    <link rel="stylesheet" href="../static/css/ElementsGrid.css">
{% endblock %}
{% block div %}
<div id="content">
    <form method="post">
        <input type="text" name="query" class="search" placeholder="Search here!">
        <input type="submit" name="submit" class="submit" value="Search">
    </form>

{#    <div class="all-browsers2">
        <div id="dh2"  style='float: right; clear: right;'>
            <button class="butt">Search Recipes</button>
        </div>
        <h1>Chosen Ingredients</h1>
        {% for ingredient in ingredients %}
            <article class="browser2">
                <img class="imgg" src="https://spoonacular.com/cdn/ingredients_100x100/{{ ingredient }}.png">
                <div  style='float: right; clear: right;'>
                    <input type="image" src="../static/images/Red.png"/>
                </div>
                <p>{{ ingredient }}</p>
            </article>
        {% endfor %}
    </div>#}

    <div class="all-browsers3">
        <h1>Chosen Ingredients</h1>
        {% for ingredient in ingredients %}
            <article class="browser3">
                <img class="imgg" src="https://spoonacular.com/cdn/ingredients_100x100/{{ ingredient }}">
                <div style='float: right; clear: right;'>
{#                    <form method="post">#}
{#                        <input type="image" class="submit" name="new_ingredient" value="{{ ingredient['name'] }}" src="../static/images/Green.jpg" />#}
{#                    </form>#}
                </div>
                <p>{{ ingredient}}</p>
            </article>
        {% endfor %}
    </div>

    <div class="all-browsers">
        <h1>Search result</h1>
        {% for recipe in recipes %}
        <article class="browser">
            <img class="imgg" src="{{ recipe['image'] }}">
            <a href="/{{ recipe['id'] }}" class="au">{{ recipe['title'] }}</a>
            <div id="dh2"  style='float: right; clear: right;'>
                <input type="image" src="../static/images/EmptyStar.png" />
            </div>
            <div class="truncate">
{#                <p>{{ recipes_info['summary'][:recipe['summary'].index('.')]|safe }}</p>#}
                <p>Recipe Info</p>
            </div>
        </article>
        {% endfor %}
    </div>
</div>
{% endblock %}
